html body{
    background-color: #f5f5f5;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

table, td {
    border:1px solid #cccccc;
    border-collapse:collapse;
    padding: 3px;
}

input[type=text]{
    width: 445px;
}

.wrapper{
    margin: auto auto;
    width: 940px;
}

.header{
    background-color: black;
    color: white;
    margin-bottom: 10px;
}


#title a{
    color: white;
    font-weight: bold;
    font-size: 30px;
    line-height: 60px;
    margin-right: 10px;
    text-decoration: none;
}

#sub_title{
    font-size: 14px;
    margin-top: 15px;
}

.float_l{
    float: left;
}

.clear{
    clear: both;
}

.footer{
    background-color: black;
    color: #f5f5f5;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin-top: 0;
    text-align: center;
}

.footer a{
    color: #f5f5f5;

    text-decoration: none;
}