$def with (content)
<!DOCTYPE html>
<html>
<head>
    <title>$content.title</title>
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
</head>
<body>
<div class="header">
    <div class="wrapper">
        <div id="title" class="float_l"><a href="/">pyAutoDeploy</a></div>
        <div id="sub_title" class="float_l">
            $$ git push<br>
            $$ and then ?
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="wrapper">
    <div class="main">
        <!--<form method="post" action="/push">-->
            <!--<input id="btn" type="button" value="OK">-->
        <!--</form>-->
        <div class="left">
            <a href='/'>首页</a><br>
            <a href='javascript:window.location.href+="?ar"'>自动刷新</a><br>
            <a href='/add'>新建 Job</a><br><br>
            最近执行:
            <div id="current">

            </div>
        </div>
        <div class="right">
            $:content
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="footer">
    <a href="https://github.com/tonghuashuai/pyAutoDeploy">基于 Python web.py</a>
</div>
</body>
</html>